$black: #000000;
$white: #ffffff;
$primary: #261C4A;
$primary-2: #2D1F5C;
$light-primary:#513C96;
$light-primary-2: #3C2F6A;
$text: #D2D2D2;
$yellow: #FFCB34;
$secoundery: #723B3B;
$secoundery-2: #7F4242;
$orange: #F08D1D;