.footer {
    padding: 35px 0px;
    position: relative;
    z-index: 9;
    background-color: $primary;
    font-size: 12px;
    @include mmd {
        padding: 20px 0px;
    }
    &::before,
    &::after {
        content: "";
        width: calc(50% - 80px);
        position: absolute;
        bottom: 100%;
        left: 0;
        height: 1px;
        background-color: rgba($color: $white, $alpha: .60);
        @include md {
            width: calc(50% - 60px);
        }
        @include sm {
            display: none;
        }
    }
    &::after {
        left: auto;
        right: 0;
    }
    &-logo {
        width: 140px;
        height: 136px;
        margin: auto;
        margin-top: -100px;
        @include md {
            width: 110px;
            height: 106px;
            margin-top: -80px;
        }
        @include sm {
            width: 90px;
            height: 96px;
            margin: 10px auto;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    & .social-links{
        margin-top: 0 !important;
        margin-left: 0 !important;
        justify-content: flex-end;
        @include mmd{
            justify-content: center;
        }
    }

}