// banner
.banner {
    position: relative;
    z-index: 1;
    padding: 350px 0px;
    background-image: url(../assets/img/kadenaArtWork_images/Front-View.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    @include xl {
        padding: 210px 0px;
    }
    @include lg {
        padding: 185px 0px;
    }
    @include md {
        padding: 155px 0px;
    }
    @include sm {
        padding: 80px 0px;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        @include position_left();
        z-index: -1;
        background: linear-gradient(0deg, #291F4C 0%, rgba(38, 28, 74, 0) 1.3%), linear-gradient(0deg, #261C4A 0%, rgba(0, 0, 0, 0) 12.56%), linear-gradient(90deg, rgba(30, 17, 60, 0.49) 0%, rgba(30, 17, 60, 0) 98.6%);
    }
    &-content {
        @include mmd {
            text-align: center;
        }
        & span {
            display: block;
            margin-bottom: 10px;
            color: $white;
        }
        & h1 {
            @include font-65();
            margin-bottom: 30px;
            @include lg {
                margin-bottom: 20px;
            }
            @include md {
                margin-bottom: 15px;
            }
            @include sm {
                margin-bottom: 10px;
            }
        }
        & p {
            @include font-20();
            line-height: 1.5;
            color: $white;
            @include mmd {
                line-height: 1.8
            }
        }
    }
}

// about & how it work
.about,
.how-it-work {
    &-content {
        @include mmd {
            text-align: center;
        }
        & h3 {
            @include font-50();
            margin-bottom: 30px;
            @include lg {
                margin-bottom: 20px;
            }
            @include md {
                margin-bottom: 15px;
            }
            @include sm {
                margin-bottom: 10px;
            }
        }
    }
}

// about 
.about {
    padding: 246px 0px;
    position: relative;
    z-index: 1;
    @include xl {
        padding: 190px 0px;
    }
    @include lg {
        padding: 160px 0px;
    }
    @include md {
        padding: 130px 0px;
    }
    @include sm {
        padding: 100px 0px;
    }
    &::before {
        content: "";
        height: 100%;
        width: 50%;
        background-image: url(../assets/img/kadenaArtWork_images/floating-island.gif);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        @include position_left();
        z-index: -1;
    }
    &::after {
        content: "";
        @include position_right();
        z-index: -1;
        height: 100%;
        width: 50%;
        background-image: url(../assets/img/about-2.png);
        background-size: auto;
        background-position: right center;
        background-repeat: no-repeat;
    }
    &-content {
        & p {
            font-size: 22px;
            line-height: 1.6;
        }
    }
}

// how it work
.how-it-work {
    padding: 305px 0px;
    background-image: url(../assets/img/kadenaArtWork_images/Back-View.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    @include xl {
        padding: 135px 0px;
    }
    @include lg {
        padding: 90px 0px;
    }
    @include md {
        padding: 100px 0px;
    }
    @include sm {
        padding: 60px 0px;
        background-position: 100% 0;
    }
    
    @include ssm {
        background-position: 80% 0;
    }
    
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        @include position_left();
        z-index: -1;
        background: linear-gradient(180deg, #291F4C 0%, rgba(38, 28, 74, 0) 21.5%), linear-gradient(90.38deg, rgba(30, 17, 60, 0.6) 0.33%, rgba(30, 17, 60, 0) 97.55%);
    }
    &-content {
        & p {
            color: $white;
            &:not(:last-child) {
                margin-bottom: 26px;
                @include lg {
                    margin-bottom: 20px;
                }
                @include mmd {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

// collections
.collections {
    padding-top: 120px;
    padding-bottom: 100px;
    @include md {
        padding-top: 100px;
        padding-bottom: 80px;
    }
    @include sm {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    & .swiper {
        @include mmd {
            overflow: hidden !important;
        }
    }
    &-slider-info {
        margin-top: 60px;
        @include lg {
            margin-top: 40px;
        }
        @include md {
            margin-top: 30px;
        }
        @include sm {
            margin-top: 24px;
        }
    }
    &-item {
        padding: 20px;
        border-radius: 20px;
        background-color: $secoundery;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @include sm {
            width: max-content;
            margin: auto;
        }
        &::before {
            content: "";
            width: 100%;
            height: 60%;
            background-color: $secoundery-2;
            @include position_left();
            clip-path: path("M260.626 5.10126C225.675 9.74159 151.813 18.3411 86.7628 80.5384C27.0347 137.712 14.0503 199.825 0.171875 249.548V23.5774C0.171875 10.8485 10.5594 0.460938 23.2883 0.460938H246.833C251.984 0.460938 256.752 2.20638 260.626 5.10126V5.10126Z");
            z-index: -1;
        }
        &::after {
            content: "";
            @include position_middle();
            transform: translate(-50%, -50%) scale(.96);
            width: 100%;
            height: 100%;
            background-image: url(../assets/img/svg/collection-shape.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
        }
        &-img {
            width: 100%;
            height: 280px;
            border-radius: 20px;
            overflow: hidden;
            @include md {
                height: 220px;
            }
            @include sm {
                height: 230px;
                width: 180px;
                margin: auto;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// mlnt
.mlnt {
    padding-top: 430px;
    padding-bottom: 292px;
    background-image: url(../assets/img/mint-bg.gif);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    @include xxl {
        padding-top:350px;
        padding-bottom: 250px;
    }
    @include xl {
        @include xl {
            padding-top: 290px;
            padding-bottom: 180px;
        }
    }
    @include lg {
        padding-top: 220px;
        padding-bottom: 150px;
    }
    @include mmd {
        padding-top: 150px;
        padding-bottom: 110px;
    }
    &-content {
        & h3 {
            @include font-50();
            margin-bottom: 10px;
        }
        & p {
            margin-bottom: 35px;
        }
    }
    &-img {
        @include mmd {
            text-align: center;
        }
    }
}

.mintpage {
  padding: 246px 0px;
    position: relative;
    z-index: 1;
    @include xl {
        padding: 190px 0px;
    }
    @include lg {
        padding: 160px 0px;
    }
    @include md {
        padding: 130px 0px;
    }
    @include sm {
        padding: 100px 0px;
    }
    &::before {
        content: "";
        height: 100%;
        width: 50%;
        background-image: url(../assets/img/kadenaArtWork_images/floating-island.gif);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        @include position_left();
        z-index: -1;
    }
    &::after {
        content: "";
        @include position_right();
        z-index: -1;
        height: 100%;
        width: 50%;
        background-image: url(../assets/img/about-2.png);
        background-size: auto;
        background-position: right center;
        background-repeat: no-repeat;
    }
    &-content {
        & p {
            font-size: 22px;
            line-height: 1.6;
        }
    }
}

// reoadmap
.roadmap {
    padding: 240px 0px;
    @include xl {
        padding: 200px 0px;
    }
    @include lg {
        padding: 160px 0px;
    }
    @include md {
        padding: 140px 0px;
    }
    @include sm {
        padding: 120px 0px;
    }
    & h4 {
        @include font-25();
    }
    & .mb-5 {
        @include sm {
            margin-bottom: 20px !important;
        }
    }
    &-row {
        margin-top: 10px;
        position: relative;
        z-index: 1;
        & .progress-area,
        & .progress-line {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 1px;
            height: 100%;
            background-color: #4B4E49;
            z-index: -1;
            overflow: hidden;
            @include sm {
                display: none;
            }
        }
        & .progress-line {
            height: 0;
            background-color: $orange;
            width: 2px;
        }
    }
    &-img-content {
        @include flex();
        justify-content: space-between;
        --width: 268px;
        position: relative;
        --padding: 20px;
        @include mmd {
            --width: 168px;
        }
        &::before {
            --width: 28px;
            content: "\002193";
            width: var(--width);
            height: var(--width);
            border: 1px solid $white;
            border-radius: 100%;
            background-color: $orange;
            @include flex();
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
            margin-left: -2px;
            @include sm {
                margin-left: 0;
                left: auto;
                right: 0;
            }
        }
        &.right {
            flex-direction: row-reverse;
            &::before {
                left: auto;
                right: 100%;
                margin-left: 0;
                margin-right: -2px;
                @include sm {
                    left: 0;
                    right: auto;
                    margin-right: 0;
                }
            }
            & .content {
                text-align: left;
                padding-right: 0;
                padding-left: var(--padding);
                @include sm {
                    text-align: right;
                }
            }
        }
        & .img {
            max-width: var(--width);
            flex: 0 0 100%;
            height: 168px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        & .content {
            padding-right: var(--padding);
            text-align: right;
            max-width: calc(100% - var(--width));
            flex: 0 0 100%;
            @include sm {
                text-align: left;
            }
        }
    }
    &-inner {
        --margin: 40px;
        margin-left: var(--margin);
        background-color: $light-primary-2;
        border-radius: 10px;
        padding: 20px;
        padding-left: 30px;
        padding-bottom: 40px;
        position: relative;
        @include md {
            --margin: 30px;
        }
        @include sm {
            --margin: 0px;
        }
        &::before {
            content: "";
            width: 32px;
            height: 40px;
            background-color: #2D244F;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 100%;
            clip-path: path("M0 18.9704L32.4033 0.588867V35.9379L0 18.9704Z");
            @include md {
                width: 24px;
            }
            @include sm {
                top: auto;
                bottom: 100%;
                left: 50%;
                transform: translate(0, -50%) rotate(210deg);
                margin-bottom: -31px;
            }
        }
        &.right {
            margin-left: 0;
            margin-right: var(--margin);
            &::before {
                right: auto;
                left: 100%;
                clip-path: path("M28.8438 18.9704L0.0900078 0.588867V35.9379L28.8438 18.9704Z");
                @include sm {
                    left: 50%;
                    transform: translate(0, -50%) rotate(30deg);
                    margin-bottom: -35px;
                }
            }
        }
        & h4 {
            color: $orange;
            margin-bottom: 10px;
        }
    }
}

// team
.team {
    padding-bottom: 240px;
    position: relative;
    z-index: 1;
    @include xl {
        padding-bottom: 180px;
    }
    @include lg {
        padding-bottom: 160px;
    }
    @include md {
        padding-bottom: 120px;
    }
    @include sm {
        padding-bottom: 100px;
    }
    &::before {
        content: "";
        width: 409px;
        height: 505px;
        background-image: url(../assets/img/tree-shape.png);
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
        position: absolute;
        right: 0px;
        bottom: 100%;
        @include xl {
            width: 379px;
            height: 395px;
        }
        @include lg {
            display: none;
        }
        @include mmd {
            display: none;
        }
    }
    &-item {
        margin-top: 40px;
        &-img {
            position: relative;
            z-index: 1;
            width: 264px;
            height: 324px;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                @include position_left();
                top: -13px;
                z-index: -0;
                background-image: url(../assets/img/team/team-img-shape.png);
            }
            &>div {
                width: 232px;
                height: 280px;
                overflow: hidden;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                & img {
                    @include img(contain);
                    top: 17px;
                    height: 85% !important;
                }
            }
            & .bg {
                &-gray {
                    background-color: #ECECEB;
                }
                &-navigreen {
                    background-color: #BEE746;
                }
                &-purple {
                    background-color: #7677E3;
                }
                &-sky {
                    background-color: #92F6E4;
                }
            }
        }
        &-content {
            background-image: url(../assets/img/team/team-content-shape.png);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            padding: 23px 0px;
            width: calc(232px - 0px);
            margin: auto;
            margin-top: -64px;
            position: relative;
            z-index: 9;
            & h4 {
                @include font-22();
                color: #ECECEB;
                margin-bottom: 0;
            }
            & p {
                font-size: 14px;
                color: #CBBDBD;
            }
        }
    }
}

// faq
.faq {
    padding: 135px 0px;
    background-image: url(../assets/img/faq-bg.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    @include md {
        padding-bottom: 90px;
    }
    @include sm {
        padding-bottom: 60px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 67px;
        background: linear-gradient(180deg, #261C4A 0%, rgba(38, 28, 74, 0.24) 100%);
    }
    & .accordion {
        &-item {
            border: none !important;
            &:not(:last-child) {
                margin-bottom: 20px;
                @include sm {
                    margin-bottom: 12px;
                }
            }
        }
        &-button {
            border: none !important;
            color: $white !important;
            border-radius: 0 !important;
            box-shadow: 0 0 0 !important;
            background-color: #513C96 !important;
            padding: 18px;
            &::after {
                filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(175deg) brightness(102%) contrast(101%);
            }
        }
        &-body {
            background-color: $primary-2 !important;
            color: $white;
            padding: 20px !important;
        }
    }
}